.main {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 1rem;
  background: linear-gradient(to bottom, #f4f4f5, #e4e4e7);
}

@media (prefers-color-scheme: dark) {
  .main {
    background: linear-gradient(to bottom, #18181b, #09090b);
  }
}

.wrapper {
  display: flex;
  width: 100%;
  max-width: 28rem;
  flex-direction: column;
  height: 600px;
}
